::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.category-dropdown li {
  list-style: none;
  padding-bottom: 7px;
  padding-top: 7px;
  border-bottom: 1px solid #ddd;
}

.category-dropdown .has-submenu ul {
  margin-left: 20px;
}

.category-dropdown .has-submenu li {
  border-bottom: none;
}

.category-dropdown .has-submenu .category-dropdown li.has-submenu {
  border-bottom: 1px solid #ddd !important;
}

.topbar {
  position: fixed;
  background-color: #fff;
  top: 49px;
  align-items: center;
  z-index: 1099;
  width: calc(100% - 175px) !important;
  box-shadow: 0 0 20px -10px grey;
}

.topbar-action {
  text-align: right;
  padding-right: 20px;

}

.text-right {
  text-align: right;
}

.padding-right-2 {
  padding-right: 20px;
}

.toggle-icon {
  cursor: pointer;
  float: right;
}

.product-status-chip {
  padding: 5px 15px;
  border-radius: 20px;
}

.product-status-chip.Pendingpayment {

  background-color: #170000;
  color: #fff;
}

.product-status-chip.Processing {
  background-color: orange;
}

.product-status-chip.Onhold {
  background-color: #cfeffb;
  color: #797979;
}

.MuiBadge-badge {
  text-transform: uppercase;


}

.product-status-chip.Completed {
  background-color: green;
  color: #fff;
}

.product-status-chip.Cancelled {
  background-color: #941919;
  color: #fff;
}

.product-status-chip.Refunded {
  background-color: #eee;
  color: #9a9898;
}

.radioRoot:hover {
  background-color: transparent;
}

.radioIcon {
  border-radius: 50%;
  width: 16px;
  height: 16px;
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2),
    inset 0 -1px 0 rgba(16, 22, 26, 0.1);
  background-color: #f5f8fa;
  background-image: linear-gradient(180deg,
      hsla(0, 0%, 100%, 0.8),
      hsla(0, 0%, 100%, 0));
}

.radioIcon.Mui-focusVisible {
  outline: 2px auto rgba(19, 124, 189, 0.6);
  outline-offset: 2;
}

.radioIcon input:hover {
  background-color: #ebf1f5;
}

.radiocheckedIcon {
  background-color: #137cbd;
  background-image: linear-gradient(180deg,
      hsla(0, 0%, 100%, 0.1),
      hsla(0, 0%, 100%, 0));
}

.radiocheckedIcon:before {
  display: block;
  width: 16px;
  height: 16px;
  background-image: radial-gradient(#fff, #fff 28%, transparent 32%);
  content: "";
}

.radiocheckedIcon:before input:hover {
  background-color: #106ba3;
}

.top-helper .MuiFormHelperText-root.MuiFormHelperText-contained {
  position: absolute;
  top: -10px;
  background: #fff;
  font-size: 0.75em;
  color: #000;
  padding: 0 3px;
}

.menu-collapse .MuiListItemIcon-root {
  display: none !important;
}

.text-center {
  text-align: center;
}

.flex-end {
  justify-content: flex-end;
}
.text-success{
  color:#8bc34a!important
}
.marginBottom2 {
  margin-bottom: 20px !important;
}

.makeStyles-settingsTabs-404 .MuiTab-wrapper {
  align-items: flex-start !important;
  color: #fff !important;
}

.makeStyles-settingLeft-420 .PrivateTabIndicator-colorPrimary-485 {
  background-color: #8bc34a !important;
}

.makeStyles-settingLeft-420 .PrivateTabIndicator-vertical-487 {
  width: 5px !important;
}

.setting-footer {
  height: 50px;
  background-color: #d8d8d8;
}

.setting-content {
  height: calc(100%);
  overflow-y: auto;
}

.text-left-tab .MuiTab-wrapper {
  align-items: flex-start !important;
}

.react-tags {
  position: relative;
  padding: 6px 0 0 6px;
  border: 1px solid #d1d1d1;
  border-radius: 1px;

  /* shared font styles */
  font-size: 1em;
  line-height: 1.2;

  /* clicking anywhere will focus the input */
  cursor: text;
}

.react-tags.is-focused {
  border-color: #b1b1b1;
}

.react-tags__selected {
  display: inline;
}

.react-tags__selected-tag {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 6px 6px 0;
  padding: 6px 8px;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  background: #f1f1f1;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__selected-tag:after {
  content: "\2715";
  color: #aaa;
  margin-left: 8px;
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
  border-color: #b1b1b1;
}

.react-tags__search {
  display: inline-block;

  /* match tag layout */
  padding: 7px 2px;
  margin-bottom: 6px;

  /* prevent autoresize overflowing the container */
  max-width: 100%;
}

@media screen and (min-width: 30em) {
  .react-tags__search {
    /* this will become the offsetParent for suggestions */
    position: relative;
  }
}

.react-tags__search-input {
  /* prevent autoresize overflowing the container */
  max-width: 100%;

  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__search-input::-ms-clear {
  display: none;
}

.react-tags__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 30em) {
  .react-tags__suggestions {
    width: 240px;
  }
}

.react-tags__suggestions ul {
  margin: 4px -1px;
  padding: 0;
  list-style: none;
  background: white;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
}

.react-tags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.react-tags__suggestions li:hover {
  cursor: pointer;
  background: #eee;
}

.react-tags__suggestions li.is-active {
  background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
  opacity: 0.5;
  cursor: auto;
}

.MuiCard-root {
  overflow: inherit !important;
}

.css-1ynyhby {
  margin: 10px 0 !important;
  display: block;
}


@media screen and (max-width: 1279px) {
  .topbar {
    width: 100% !important
  }
}

@media screen and (max-width: 450px) {
  .topbar-action {
    text-align: center;
    padding-bottom: 10px;
    padding-right: 0;
  }
}


.ravendelLogo {
  width: 100px;
  max-height: 50px;
  object-fit: contain;
  padding: 5px 0;
}

.mobileImage {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.phoneValidation svg {
  width: 24px;
}

.phoneValidation input {
  padding: 10px
}

.image_ratio {
  object-fit: contain;
  height: 20%;
  width: 20%;
}
.input_display{
  display: none;
}
.MuiTableCell-root  a{
  color: #000;
}
.MuiTableCell-root  a:hover{
  text-decoration: underline;
}
.gallery_image .icon-btn{
  background-color: transparent;
  border: unset;
  color: #263238;
  cursor: pointer;
  position: absolute;
  top: 53%;
  right: -30px;
  transform: translateY(-50%);
}
.gallery_image{
  margin-right: 34px !important;
}
.gallery_image:last-child{
  margin-right: 0 !important;
}