# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

node_modules
package-lock.json
yarn.lock
.editorconfig
.env

# dependencies
/node_modules
/client/node_modules
/frontend/node_modules
/.pnp
.pnp.js
/test.js
# testing
/coverage

# production
/build
# /assets
/client-old

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/package-lock.json
/desktop.ini
/client/package-lock.json
/frontend/package-lock.json

/frontend/.next

assets